<h1>Carliff's Quora HOME Page</h1>

<% if logged_in? %>
<h2>You are logged in as <%= @user.name %><br></h2>
<%else%>
<h2>You are currently not logged in</h2><br>
<%end%>


<% if logged_in? %>
<a href="/users/<%= @user.id %>/edit"><button>Edit Profile</button></a><br>
<a href="/users/logout"><button>Logout</button></a><br>
<%else%>
<p>For existing users Login</p>

<a href="/users"><button>Login</button></a>

<p>For new users Sign Up</p>

<a href="/users/new"><button>Sign Up</button></a>
<%end%>


